*{
    padding: 0px;
    margin: 0px;
}

.form-wrap{
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    background: rgb(243, 240, 240);
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input{
        background: none;
        border: 1px solid black;
    }

    .title{
        font-size: 30px;
        color: rgb(138, 128, 128);
    }

    .form{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        min-width: 340px;
        
        .login, .password{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            font-size: 22px;
        }

        .button-submit{
            margin-top: 20px;
        }
        
        .email{
            display: flex;
            justify-content: space-between;
            font-size: 22px;
            margin-top: 20px;

            &input{
                width: 60%;
            }
        }
        
        .button-submit{
            margin-top: 20px;
        }

        .link{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 10px;
        
            &a{
                text-decoration: none;
                color: rgb(66, 65, 65)
            } 
        }
    }
}
